#title
{
    color: white;  
    text-align: center; 
}
#description{
    color: rgb(255, 255, 255);
    text-align: center;
}
#form-div{
    color:white;
    background: rgba(202, 123, 90, 0.3);
    position: absolute;
    padding: 20px;
    width: 310px;
    left:39%;
    
}
body{
    background-image: url('https://images.unsplash.com/photo-1682687218608-5e2522b04673?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80');
}
#submit{
    color: white;
    background-color: rgb(225, 79, 56);
    width: 80px;
    position: absolute;
    left:150px;
    height: 30px;
    border: none;
}
#email{
    width: 250px;
}

